.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;

  .search-box {
    position: relative;
    flex-grow: 1;
  }

  .search-input {
    width: 100%;
    max-width: 450px;
    padding-left: 60px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);

    &:focus {
      box-shadow: none;
    }
  }

  .select {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;

    &:focus {
      box-shadow: none;
    }
  }
}