.header {
  padding: 24px 16px;
  background-color: var(--header-bg);
  color: var(--header-text-color);
  transition: background-color var(--dur), color var(--dur);

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-title {
      font-size: 24px;
      font-weight: 700;
    }

    .toggle-theme-btn {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      transition: box-shadow 0.2s;

      &:hover {
        box-shadow: 0 0 20px -4px black;
      }
    }
  }
}