.header {
  padding: 24px 16px;
  background-color: var(--header-bg);
  color: var(--header-text-color);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    .main-title {
      font-size: 24px;
      font-weight: 700;

      @media (max-width: 475px) {
        font-size: 18px;
      }
    }

    .toggle-theme-btn {
      padding-inline: 4px;
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid transparent;
      border-radius: 4px;
      cursor: pointer;
      transition: border 0.2s;

      &:hover {
        border: 1px solid #000c36;
      }

      .toggle-text {
        @media (max-width: 475px) {
          display: none;
        }
      }
    }
  }
}