/* #region reset styles */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}
/* #endregion */

:root {
  --main-background: white;
  --text-color: black;
}

[data-theme="dark"] {
  --main-background: #020022;
  --text-color: white;
}

.app {
  background-color: var(--main-background);
  color: var(--text-color);
}