@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* #region variables */
:root {
  --elements-bg: white;
  --header-bg: white;
  --header-text-color: #111517;
  --main-bg: #fafafa;
  --text-color: #111517;
  --input-color: #858585;
  --shadow-color: #666;
  
  --country-value-color: #444;
  --skeleton-color: #c7c7c7;
  --content-width: 1280px;
  --dur: 150ms;
}

[data-theme="dark"] {
  --elements-bg: #2b3945;
  --header-bg: #2b3945;
  --header-text-color: #eee;
  --main-bg: #202c37;
  --text-color: white;
  --shadow-color: black;
  --country-value-color: #ccc;
}
/* #endregion */

/* #region reset styles */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  transition: background-color var(--dur), color var(--dur);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.btn {
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--elements-bg);
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 4px black;
  cursor: pointer;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/* #endregion */

/* #region keyfrawmes */
@keyframes pulse {
  50% {
    opacity: .5;
  }
}

/* #endregion */

/* #region page */
body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

input,
select {
  padding: 1em;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: 300;
  background-color: var(--elements-bg);
  border: none;
  border-radius: 6px;
  outline: none;
}

.skeleton {
  width: 100%;
  height: 100%;
  background-color: var(--skeleton-color);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.app {
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--main-bg);
}

.content {
  max-width: var(--content-width);
  margin-inline: auto;
}

/* #endregion */